/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');*/
@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Light.ttf") format("ttf");
}

body{
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
h1{
    font-size: 48px;
}

.animal-image{
    width: 200px;
    height: 200px;
}

