{% extends 'base.html.twig' %}
{% block title %}Famille{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>{% block monTitre %}{{ famille.libelle }}{% endblock %}</h1>
        </div>
        <div class="row">
                <div>{{ famille.description }}</div>

                <!-- Une boucle pour ajouter les animaux-->

                <div class="row">
                    {% for animal in famille.animaux %}
                        <div class="col-6">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-6 text-center ">
                                    <img class="animal-image img-fluid" src="{{ asset('images/' ~ animal.image) }}"  alt="animaux">
                                </div>
                                <div class="col text-center">
                                    <h4><a href="{{ path("afficher_animal", {'id' : animal.id}) }}" class="nav-link">{{ animal.nom }}</a></h4>
                                    <div> {{ animal.description }}</div>
                                </div>


                            </div>
                        </div>

                </div>




            {% endfor %}
        </div>

    </div>
{% endblock %}
