{% extends 'base.html.twig' %}
{% block title %}Famille{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>{% block monTitre %}Liste des Familles{% endblock %}</h1>
        </div>
        <div class="row">
            {% for famille in familles %}
                <h2 class="border-bottom border-primary">{{ famille.libelle | capitalize }}</h2>
                <div>{{ famille.description }}</div>

                <!-- Une boucle pour ajouter les animaux-->

                <div class="row">
                    {% for animal in famille.animaux %}
                        <div class="col-6">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-6 text-center ">
                                    <img class="animal-image img-fluid" src="{{ asset('images/' ~ animal.image) }}"  alt="animaux">
                                </div>
                                <div class="col text-center">
                                    <h4><a href="{{ path("afficher_animal", {'id' : animal.id}) }}" class="nav-link">{{ animal.nom }}</a></h4>
                                    <div> {{ animal.description }}</div>
                                    <div>
                                        <a class="btn btn-success text-uppercase" href="{{ path("afficher_familles",{'id': famille.id}) }}">
                                            {{ animal.famille.libelle }}
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>




            {% endfor %}
        </div>

    </div>
{% endblock %}
