{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>{% block monTitre %}Affichage de l'animal {{ animal.nom }}{% endblock %}</h1>
        </div>
            <div class="row align-items-center">
                <div class="col-3 text-center" ><img class="animal-image" src="{{ asset('images/' ~ animal.image) }}"  alt="animaux"></div>
                <div class="col-9">
                    <div>Description : {{ animal.description }}</div>
                    <div> Poids :  {{ animal.poids }}</div>
                    <div> Dangereux :
                        {% if animal.dangereux %}
                           <span class="badge bg-danger">Oui</span>
                        {%else %}
                            <span class="badge bg-success">Non</span>
                        {% endif %}

                    </div>

                </div>

            </div>


    </div>

{% endblock %}
