{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>{% block monTitre %}Voici la liste des animaux{% endblock %}</h1>
        </div>
        {% for animal in animaux %}
            <div class="row align-items-center">
                <div class="col-3 text-center p-2">
                    <img class="animal-image" src="{{ asset('images/' ~ animal.image) }}"  alt="animaux">
                </div>
                <div class="col-9">
                    <h4><a href="{{ path("afficher_animal", {'id' : animal.id}) }}" class="nav-link">{{ animal.nom }}</a></h4>
                    <div> {{ animal.description }}</div>
                    <div>
                        <a class="btn btn-success text-uppercase" href="{{ path("afficher_familles",{'id': animal.famille.id}) }}">
                            {{ animal.famille.libelle }}
                        </a>
                    </div>
                    <div>
                        {% for continent in animal.continents %}
                            <a href class="btn btn-warning">{{ continent.libelle }}</a>
                        {% endfor %}

                    </div>
                </div>

            </div>

        {% endfor %}
    </div>

{% endblock %}
