{% extends 'base.html.twig' %}

{% block title %}continent{% endblock %}

{% block body %}
    <h1>{% block monTitre %}liste des Continents{% endblock %}</h1>
    {% for continent in continents %}
        {{ continent.libelle }}
    {% endfor %}

{% endblock %}
